:root {
  --color-dark-blue: hsl(233, 26%, 24%);
  --color-bright-cyan: hsl(192, 70%, 51%);
  --color-gray: hsl(233, 8%, 62%);
  --color-lime-green: hsl(136, 65%, 51%);
  --color-grayish-blue: hsl(233, 8%, 62%);
  --color-light-grayish-blue: hsl(220, 16%, 96%);
  --color-very-light-gray: hsl(0, 0%, 98%);
}
.text-gray {
  color: var(--color-gray);
}
.bg-light-gray-blue {
  background-color: var(--color-light-grayish-blue);
}
.bg-very-light-gray {
  background-color: var(--color-very-light-gray);
}
.content-box {
  padding: 2rem 1rem;
  text-align: center;
}
.content-top {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  text-align: center;
  /* position: relative; */
  /* z-index: -1; */
  /* top: -3rem; */
  overflow: hidden;
}
.mockups {
  background-image: url("/public/images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img2 {
  width: 90vw;
}
.content-top > .info {
  padding: 3rem 1rem;
  /* position: relative; */
  /* top: -15vh; */
  padding-bottom: 3rem;
}
.feature-box,
.article-box {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.feature-box {
  gap: 0;
}
.card-group {
  margin-bottom: 0;
}
.card-group > .card {
  margin: 0;
}
.card-text {
  color: var(--color-gray);
}
.card {
  border: 0;
}

@media only screen and (min-width: 768px) {
  .content-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    z-index: 0;
    top: -12rem;
    margin-bottom: -15rem;
  }
  .content-top .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 2em;
    margin-top: 120px;
  }
  .info h1, p {
    text-align: left;
  }
  .img2 {
    width: 50vw;
    max-width: 480px;
  }
  .content-box {
    text-align: start;
  }
  .card img {
    max-width: fit-content;
    aspect-ratio: 3/2;
  }
  .feature-box .card-body {
    padding-left: 0;
  }
  .content-mid {
    padding: 2rem 5rem;
    z-index: -1;
  }
}
