.header {
  color: var(--color-very-light-gray);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
  padding: 1rem 5rem;
}
.navitems {
  display: flex;
}
.navitems a {
  margin-right: 10px;
  color: hsl(233, 8%, 62%);
}
.header .button:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (min-width: 576px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
